@use './variables.scss' as *;
@use './mixin.scss' as *;

body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5f7fa;
}

* {
  box-sizing: border-box;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

.app-container {
  padding: 20px;
}

.page-container {
  background: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 4px;
  box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
}

.filter-container {
  padding-bottom: 10px;

  .filter-item {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 10px;
  }
}

.operation-container {
  margin-bottom: 20px;
}

.pagination-container {
  padding: 32px 16px;
  text-align: center;
}

.dialog-footer {
  text-align: right;
  margin-top: 20px;
}

.el-table .cell {
  white-space: nowrap;
}